    :root {
    --color-light-gray: #f0f0f0;
    --color-super-light-gray: #f5f5f5;
    --color-gray: #999;
    --color-silver: #ccc;
    --color-white: #fff;
    --color-dark: #111;
    --color-black: #000;
}