section.subscribe
    .container
        .subscribe__container
            h2.subscribe__title Subscribe to Our Newsletter
            form.subscribe-form
                input.subscribe-form__input(type="email" placeholder="example@gmail.com")
                button.btn.btn-reset.subscribe-form__btn Subscribe