section.services
    .container.services__container
        h2.services__title.section-title 
            span Our <br> Sevices
        .tabs.services__tabs
            ul.tabs__list.services__tabs-list
                li.tabs__item
                    button.btn-reset.tabs__btn.main-link--big.tabs__btn--active(data-tabs-path="commercial") Commercial Design
                li.tabs__item
                    button.btn-reset.tabs__btn.main-link--big(data-tabs-path="interior") Interior Design
                li.tabs__item
                    button.btn-reset.tabs__btn.main-link--big(data-tabs-path="exterior") Exterior Design
                li.tabs__item
                    button.btn-reset.tabs__btn.main-link--big(data-tabs-path="landscape") Landscape Design
                li.tabs__item
                    button.btn-reset.tabs__btn.main-link--big(data-tabs-path="bathroom") Bathroom Design
                li.tabs__item
                    button.btn-reset.tabs__btn.main-link--big(data-tabs-path="bedroom") Bedroom Design
                li.tabs__item
                    button.btn-reset.tabs__btn.main-link--big(data-tabs-path="authors") Author’s Supervision
            .tabs__content.tabs__content--active(data-tabs-target="commercial")
                p.tabs__content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis quam netus id posuere ullamcorper morbi fringilla tincidunt rutrum.1
                .tabs__block.lazy(data-bg="./img/services-img.jpg")
                    p.tabs__block-descr Museum of Art in London
            .tabs__content(data-tabs-target="interior")
                p.tabs__content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis quam netus id posuere ullamcorper morbi fringilla tincidunt rutrum.11
                .tabs__block.lazy(data-bg="./img/services-img.jpg")
                    p.tabs__block-descr Museum of Art in London
            .tabs__content(data-tabs-target="exterior")
                p.tabs__content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis quam netus id posuere ullamcorper morbi fringilla tincidunt rutrum.111
                .tabs__block.lazy(data-bg="./img/services-img.jpg")
                    p.tabs__block-descr Museum of Art in London
            .tabs__content(data-tabs-target="landscape")
                p.tabs__content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis quam netus id posuere ullamcorper morbi fringilla tincidunt rutrum.1111
                .tabs__block.lazy(data-bg="./img/services-img.jpg")
                    p.tabs__block-descr Museum of Art in London
            .tabs__content(data-tabs-target="bathroom")
                p.tabs__content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis quam netus id posuere ullamcorper morbi fringilla tincidunt rutrum.11111
                .tabs__block.lazy(data-bg="./img/services-img.jpg")
                    p.tabs__block-descr Museum of Art in London
            .tabs__content(data-tabs-target="bedroom")
                p.tabs__content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis quam netus id posuere ullamcorper morbi fringilla tincidunt rutrum.111111
                .tabs__block.lazy(data-bg="./img/services-img.jpg")
                    p.tabs__block-descr Museum of Art in London
            .tabs__content(data-tabs-target="authors")
                p.tabs__content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis quam netus id posuere ullamcorper morbi fringilla tincidunt rutrum.1111111
                .tabs__block.lazy(data-bg="./img/services-img.jpg")
                    p.tabs__block-descr Museum of Art in London
        a.services__link.section-link.main-link(href="#") All Services