section.we-make
    .container.we-make__container
        .we-make__content
            h2.we-make__title We make clean, modern designs, and we know everything about it.
            p.we-make__descr We want to share some life hacks with you.
            button.btn.btn-reset.we-make__btn Get a Free Book
            picture.we-make__image
                source(srcset="img/book.png" media="(min-width: 577px)")
                img(class="lazy" data-src="img/book-mobile.png" src="img/1.jpg" alt="Book Image")