section.hero
    .hero-slider
        .swiper-wrapper.hero-slider__wrapper
            .swiper-slide.hero-slide
                .hero-content
                    span.hero-content__subtitle Since 1991
                    h1.hero-content__title.section-title
                        span We Create Interiors Premium Quality
                    .hero__links
                        a.hero__link.main-link(href="#about") About Project
                        a.hero__link.main-link(href="#works") See All Projects
                .hero-slide__image.lazy(data-bg="./img/bg-2.jpg")
                    p.hero-slide__descr Office interior in a business center “Equilibrium”
            .swiper-slide.hero-slide
                .hero-content
                    span.hero-content__subtitle Since 1991
                    h1.hero-content__title.section-title
                        span Professionally Create Interiors Since 1991.
                    .hero__links
                        a.hero__link.main-link(href="#about") About Project
                        a.hero__link.main-link(href="#works") See All Projects
                .hero-slide__image.lazy(data-bg="./img/bg-1.webp")
                    p.hero-slide__descr Spiral staircase in a business center “Equilibrium”
            .swiper-slide.hero-slide
                .hero-content
                    span.hero-content__subtitle Since 1991
                    h1.hero-content__title.section-title
                        span High-quality interior guarantee of coziness
                    .hero__links
                        a.hero__link.main-link(href="#about") About Project
                        a.hero__link.main-link(href="#works") See All Projects
                .hero-slide__image.lazy(data-bg="./img/bg-3.jpg")
                    p.hero-slide__descr Office interior in a business center “Equilibrium”
            .swiper-slide.hero-slide
                .hero-content
                    span.hero-content__subtitle Since 1991
                    h1.hero-content__title.section-title
                        span We Create Interiors Premium Quality
                    .hero__links
                        a.hero__link.main-link(href="#about") About Project
                        a.hero__link.main-link(href="#works") See All Projects
                .hero-slide__image.lazy(data-bg="./img/bg-1.jpg")
                    p.hero-slide__descr Office interior in a business center “Equilibrium”
            .swiper-slide.hero-slide
                .hero-content
                    span.hero-content__subtitle Since 1991
                    h1.hero-content__title.section-title
                        span Professionally Create Interiors Since 1991.
                    .hero__links
                        a.hero__link.main-link(href="#about") About Project
                        a.hero__link.main-link(href="#works") See All Projects
                .hero-slide__image.lazy(data-bg="./img/bg-2.jpg")
                    p.hero-slide__descr Spiral staircase in a business center “Equilibrium”
            .swiper-slide.hero-slide
                .hero-content
                    span.hero-content__subtitle Since 1991
                    h1.hero-content__title.section-title
                        span High-quality interior guarantee of coziness
                    .hero__links
                        a.hero__link.main-link(href="#about") About Project
                        a.hero__link.main-link(href="#works") See All Projects
                .hero-slide__image.lazy(data-bg="./img/bg-3.jpg")
                    p.hero-slide__descr Office interior in a business center “Equilibrium”
            .swiper-slide.hero-slide
                .hero-content
                    span.hero-content__subtitle Since 1991
                    h1.hero-content__title.section-title
                        span We Create Interiors Premium Quality
                    .hero__links
                        a.hero__link.main-link(href="#about") About Project
                        a.hero__link.main-link(href="#works") See All Projects
                .hero-slide__image.lazy(data-bg="./img/bg-1.jpg")
                    p.hero-slide__descr Office interior in a business center “Equilibrium”
            
        .slider__controls.hero-slider__controls
            button.btn-reset.slider__button.slider__button-prev
                +icon("prev-arrow")
            span.current-quantity
            .swiper-pagination.hero-slider__progressbar
            span.general-quantity
            button.btn-reset.slider__button.slider__button-next
                +icon("next-arrow")
        ul.hero-social.social
            li.social__item
                a.social__link(target="_blank" href="#")
                    +icon("facebook")
            li.social__item
                a.social__link(target="_blank" href="#")
                    +icon("instagram")
            li.social__item
                a.social__link(target="_blank" href="#")
                    +icon("pinterest")