section.testimonials
    .container.testimonials__container
        h2.testimonials__title.section-title 
            span Our <br> testimonials
        .swiper-slider.testimonials-slider
            .swiper-wrapper
                article.swiper-slide.testimonial-slide
                    h3.testimonial__text Great company, great guys, made me the coolest design in my new home. I am delighted, now I am running after work rather into my new design of my house.<br><br>I recommend to everyone.
                    .testimonial__bottom
                        .testimonial__userpic
                            img(src="img/ava-1.png", alt="Avatar of testimonial")
                        .testimonial__right 
                            .testimonial__info
                                span.testimonial__name Jane Cooper
                                span.testimonial__descr Director
                            span.testimonial__date 21. June 2020
                article.swiper-slide.testimonial-slide
                    h3.testimonial__text Great company, great guys, made me the coolest design in my new home. I am delighted, now I am running after work rather into my new design of my house.<br><br>I recommend to everyone.
                    .testimonial__bottom
                        .testimonial__userpic
                            img(src="img/ava-2.png", alt="Avatar of testimonial")
                        .testimonial__right 
                            .testimonial__info
                                span.testimonial__name Cameron Williamson
                                span.testimonial__descr Director
                            span.testimonial__date 21. June 2020
                article.swiper-slide.testimonial-slide
                    h3.testimonial__text Great company, great guys, made me the coolest design in my new home. I am delighted, now I am running after work rather into my new design of my house.<br><br>I recommend to everyone.
                    .testimonial__bottom
                        .testimonial__userpic
                            img(src="img/ava-3.png", alt="Avatar of testimonial")
                        .testimonial__right 
                            .testimonial__info
                                span.testimonial__name Guy Hawkins
                                span.testimonial__descr Director
                            span.testimonial__date 21. June 2020
                article.swiper-slide.testimonial-slide
                    h3.testimonial__text Great company, great guys, made me the coolest design in my new home. I am delighted, now I am running after work rather into my new design of my house.<br><br>I recommend to everyone.
                    .testimonial__bottom
                        .testimonial__userpic
                            img(src="img/ava-1.png", alt="Avatar of testimonial")
                        .testimonial__right 
                            .testimonial__info
                                span.testimonial__name Jane Cooper
                                span.testimonial__descr Director
                            span.testimonial__date 21. June 2020
                article.swiper-slide.testimonial-slide
                    h3.testimonial__text Great company, great guys, made me the coolest design in my new home. I am delighted, now I am running after work rather into my new design of my house.<br><br>I recommend to everyone.
                    .testimonial__bottom
                        .testimonial__userpic
                            img(src="img/ava-2.png", alt="Avatar of testimonial")
                        .testimonial__right 
                            .testimonial__info
                                span.testimonial__name Cameron Williamson
                                span.testimonial__descr Director
                            span.testimonial__date 21. June 2020
                article.swiper-slide.testimonial-slide
                    h3.testimonial__text Great company, great guys, made me the coolest design in my new home. I am delighted, now I am running after work rather into my new design of my house.<br><br>I recommend to everyone.
                    .testimonial__bottom
                        .testimonial__userpic
                            img(src="img/ava-3.png", alt="Avatar of testimonial")
                        .testimonial__right 
                            .testimonial__info
                                span.testimonial__name Guy Hawkins
                                span.testimonial__descr Director
                            span.testimonial__date 21. June 2020
                article.swiper-slide.testimonial-slide
                    h3.testimonial__text Great company, great guys, made me the coolest design in my new home. I am delighted, now I am running after work rather into my new design of my house.<br><br>I recommend to everyone.
                    .testimonial__bottom
                        .testimonial__userpic
                            img(src="img/ava-1.png", alt="Avatar of testimonial")
                        .testimonial__right 
                            .testimonial__info
                                span.testimonial__name Jane Cooper
                                span.testimonial__descr Director
                            span.testimonial__date 21. June 2020
            .slider__controls.testimonials-slider__controls
                button.btn-reset.slider__button.slider__button-prev
                    +icon("prev-arrow")
                span.current-quantity
                .swiper-pagination.testimonials-slider__progressbar
                span.general-quantity
                button.btn-reset.slider__button.slider__button-next
                    +icon("next-arrow")
        a.testimonials__link.section-link.main-link(href="#") View All Testimonials