section.achievements
    .container.achievements__container
        h2.visually-hidden Achievements Company
        ul.achievements__list
            li.achievements__item
                h3.achievements__item-title Since 1991
                p.achievements__item-descr Professionally working
                a.achievements__item-link.main-link(href="#") Our Team
            li.achievements__item
                h3.achievements__item-title More than 300
                p.achievements__item-descr Successufully Completed Projects
                a.achievements__item-link.main-link(href="#") Our Works
            li.achievements__item
                h3.achievements__item-title 17 Awards
                p.achievements__item-descr Received in Various Competitions
                a.achievements__item-link.main-link(href="#") See Awards
            li.achievements__item
                h3.achievements__item-title 12 offices
                p.achievements__item-descr All Over the World
                a.achievements__item-link.main-link(href="#") About Company