.instagram
    .instagram-slider
        .swiper-wrapper
            .swiper-slide.instagram-slide
                img.instagram-slide__image.lazy(src="img/1.jpg" data-src="img/instagram-1.png", alt="Instagram Image 1")
            .swiper-slide.instagram-slide
                img.instagram-slide__image.lazy(src="img/1.jpg" data-src="img/instagram-2.png", alt="Instagram Image 2")
            .swiper-slide.instagram-slide
                img.instagram-slide__image.lazy(src="img/1.jpg" data-src="img/instagram-3.png", alt="Instagram Image 3")
            .swiper-slide.instagram-slide
                img.instagram-slide__image.lazy(src="img/1.jpg" data-src="img/instagram-4.png", alt="Instagram Image 4")
            .swiper-slide.instagram-slide
                img.instagram-slide__image.lazy(src="img/1.jpg" data-src="img/instagram-5.png", alt="Instagram Image 5")
            .swiper-slide.instagram-slide
                img.instagram-slide__image.lazy(src="img/1.jpg" data-src="img/instagram-6.png", alt="Instagram Image 6")
            .swiper-slide.instagram-slide
                img.instagram-slide__image.lazy(src="img/1.jpg" data-src="img/instagram-1.png", alt="Instagram Image 7")
            .swiper-slide.instagram-slide
                img.instagram-slide__image.lazy(src="img/1.jpg" data-src="img/instagram-2.png", alt="Instagram Image 8")
            .swiper-slide.instagram-slide
                img.instagram-slide__image.lazy(src="img/1.jpg" data-src="img/instagram-3.png", alt="Instagram Image 9")
            .swiper-slide.instagram-slide
                img.instagram-slide__image.lazy(src="img/1.jpg" data-src="img/instagram-4.png", alt="Instagram Image 10")
        .instagram-text
            span.instagram__descr instagram
            span.instagram__line
            span.instagram__descr @binside