section.news
    .container.news__container
        .news__head
            h2.news__title.section-title 
                span News <br> Our Blog
            ul.news-tabs
                li.news-tabs__item
                    button.btn-reset.news-tabs__btn.news-tabs__btn--active(data-news-path="interior" aria-label="interior") Interior
                li.news-tabs__item
                    button.btn-reset.news-tabs__btn(data-news-path="exterior" aria-label="exterior") Exterior
                li.news-tabs__item
                    button.btn-reset.news-tabs__btn(data-news-path="commercial" aria-label="commercial") Commercial
                li.news-tabs__item
                    button.btn-reset.news-tabs__btn(data-news-path="landscape" aria-label="landscape") Landscape
        .news-slider.news-slider--active(data-news-target="interior")
            .swiper-wrapper
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-1.png")
                    .news-slide__content
                        h3.news-slide__title AG Barr tells Manhattan U.S. Attorney Berman that he's been fired in letter
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-2.png")
                    .news-slide__content
                        h3.news-slide__title Kimberlé Crenshaw: Black women killed by police are seen as ‘collateral damage’
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-3.png")
                    .news-slide__content
                        h3.news-slide__title AG Barr tells Manhattan U.S. Attorney Berman that he's been fired in letter
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-4.png")
                    .news-slide__content
                        h3.news-slide__title Kimberlé Crenshaw: Black women killed by police are seen as ‘collateral damage’
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-1.png")
                    .news-slide__content
                        h3.news-slide__title AG Barr tells Manhattan U.S. Attorney Berman that he's been fired in letter
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-1.png")
                    .news-slide__content
                        h3.news-slide__title AG Barr tells Manhattan U.S. Attorney Berman that he's been fired in letter
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-2.png")
                    .news-slide__content
                        h3.news-slide__title Kimberlé Crenshaw: Black women killed by police are seen as ‘collateral damage’
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
        .news-slider(data-news-target="exterior")
            .swiper-wrapper
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/bg-1.jpg")
                    .news-slide__content
                        h3.news-slide__title AG Barr tells Manhattan U.S. Attorney Berman that he's been fired in letter
                        .news-slide__bottom
                            span.news-slide__category Exterior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/bg-1.jpg")
                    .news-slide__content
                        h3.news-slide__title Kimberlé Crenshaw: Black women killed by police are seen as ‘collateral damage’
                        .news-slide__bottom
                            span.news-slide__category Exterior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/bg-1.jpg")
                    .news-slide__content
                        h3.news-slide__title AG Barr tells Manhattan U.S. Attorney Berman that he's been fired in letter
                        .news-slide__bottom
                            span.news-slide__category Exterior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/bg-1.jpg")
                    .news-slide__content
                        h3.news-slide__title Kimberlé Crenshaw: Black women killed by police are seen as ‘collateral damage’
                        .news-slide__bottom
                            span.news-slide__category Exterior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/bg-1.jpg")
                    .news-slide__content
                        h3.news-slide__title AG Barr tells Manhattan U.S. Attorney Berman that he's been fired in letter
                        .news-slide__bottom
                            span.news-slide__category Exterior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/bg-1.jpg")
                    .news-slide__content
                        h3.news-slide__title AG Barr tells Manhattan U.S. Attorney Berman that he's been fired in letter
                        .news-slide__bottom
                            span.news-slide__category Exterior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/bg-1.jpg")
                    .news-slide__content
                        h3.news-slide__title Kimberlé Crenshaw: Black women killed by police are seen as ‘collateral damage’
                        .news-slide__bottom
                            span.news-slide__category Exterior
                            span.news-slide__date 21. June 2020
        .news-slider(data-news-target="commercial")
            .swiper-wrapper
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-1.png")
                    .news-slide__content
                        h3.news-slide__title AG Barr tells Manhattan U.S. Attorney Berman that he's been fired in letter
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-2.png")
                    .news-slide__content
                        h3.news-slide__title Kimberlé Crenshaw: Black women killed by police are seen as ‘collateral damage’
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-3.png")
                    .news-slide__content
                        h3.news-slide__title AG Barr tells Manhattan U.S. Attorney Berman that he's been fired in letter
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-4.png")
                    .news-slide__content
                        h3.news-slide__title Kimberlé Crenshaw: Black women killed by police are seen as ‘collateral damage’
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-1.png")
                    .news-slide__content
                        h3.news-slide__title AG Barr tells Manhattan U.S. Attorney Berman that he's been fired in letter
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-1.png")
                    .news-slide__content
                        h3.news-slide__title AG Barr tells Manhattan U.S. Attorney Berman that he's been fired in letter
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-2.png")
                    .news-slide__content
                        h3.news-slide__title Kimberlé Crenshaw: Black women killed by police are seen as ‘collateral damage’
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
        .news-slider(data-news-target="landscape")
            .swiper-wrapper
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-1.png")
                    .news-slide__content
                        h3.news-slide__title AG Barr tells Manhattan U.S. Attorney Berman that he's been fired in letter
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-2.png")
                    .news-slide__content
                        h3.news-slide__title Kimberlé Crenshaw: Black women killed by police are seen as ‘collateral damage’
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-3.png")
                    .news-slide__content
                        h3.news-slide__title AG Barr tells Manhattan U.S. Attorney Berman that he's been fired in letter
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-4.png")
                    .news-slide__content
                        h3.news-slide__title Kimberlé Crenshaw: Black women killed by police are seen as ‘collateral damage’
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-1.png")
                    .news-slide__content
                        h3.news-slide__title AG Barr tells Manhattan U.S. Attorney Berman that he's been fired in letter
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-1.png")
                    .news-slide__content
                        h3.news-slide__title AG Barr tells Manhattan U.S. Attorney Berman that he's been fired in letter
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
                a.swiper-slide.news-slide(href="#")
                    .news-slide__image.lazy(data-bg="./img/news-2.png")
                    .news-slide__content
                        h3.news-slide__title Kimberlé Crenshaw: Black women killed by police are seen as ‘collateral damage’
                        .news-slide__bottom
                            span.news-slide__category Interior
                            span.news-slide__date 21. June 2020
        a.news__link.main-link.section-link(href="#") Read All News