section.works
    .works__container
        h2.works__title.section-title 
            span Our <br> Works
        .works-slider
            .works-slider__wrapper
                a.work-slide.lazy(href="#" data-bg="./img/work-1.jpg")
                    .work-slide__content
                        h3.work-slide__title Interior Design <br> 5-room Apartment
                        span.main-link.work-slide__link See Full Case
                a.work-slide.lazy(href="#" data-bg="./img/work-2.jpg")
                    .work-slide__content
                        h3.work-slide__title Interior Design <br> 5-room Apartment
                        span.main-link.work-slide__link See Full Case
                a.work-slide.lazy(href="#" data-bg="./img/work-3.jpg")
                    .work-slide__content
                        h3.work-slide__title Interior Design <br> 5-room Apartment
                        span.main-link.work-slide__link See Full Case
                a.work-slide.lazy(href="#" data-bg="./img/work-4.jpg")
                    .work-slide__content
                        h3.work-slide__title Interior Design <br> 5-room Apartment
                        span.main-link.work-slide__link See Full Case
                a.work-slide.lazy(href="#" data-bg="./img/work-1.jpg")
                    .work-slide__content
                        h3.work-slide__title Interior Design <br> 5-room Apartment
                        span.main-link.work-slide__link See Full Case
                a.work-slide.lazy(href="#" data-bg="./img/work-2.jpg")
                    .work-slide__content
                        h3.work-slide__title Interior Design <br> 5-room Apartment
                        span.main-link.work-slide__link See Full Case
                a.work-slide.lazy(href="#" data-bg="./img/work-3.jpg")
                    .work-slide__content
                        h3.work-slide__title Interior Design <br> 5-room Apartment
                        span.main-link.work-slide__link See Full Case
                a.work-slide.lazy(href="#" data-bg="./img/work-4.jpg")
                    .work-slide__content
                        h3.work-slide__title Interior Design <br> 5-room Apartment
                        span.main-link.work-slide__link See Full Case
        a.works__link.main-link.section-link(href="#") See All Works