.swiper-pagination-progressbar {
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: var(--color-light-gray);
    transition: opacity 0.3s;
    &-fill {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-origin: left top;
        background-color: var(--color-black);
    }
}   