footer.footer
    .container.footer__container
        .footer__top
            +icon("logo", "footer__logo")
            .footer__menu
                ul.footer__list
                    li.footer__item
                        a.footer__link(href="#") Company
                    li.footer__item
                        a.footer__link(href="#") Services
                    li.footer__item
                        a.footer__link(href="#") Our Works
                    li.footer__item
                        a.footer__link(href="#") Testimonials
                    li.footer__item
                        a.footer__link(href="#") Our News
                    li.footer__item
                        a.footer__link(href="#") Contacts
                ul.social.footer__social
                    li.social__item.footer__social-item
                        a.social__link.footer__social-link(target="_blank" href="#")
                            +icon("facebook")
                    li.social__item.footer__social-item
                        a.social__link.footer__social-link(target="_blank" href="#")
                            +icon("instagram")
                    li.social__item.footer__social-item
                        a.social__link.footer__social-link(target="_blank" href="#")
                            +icon("pinterest")
        .footer__content
            a.footer__content-link.main-link--big(href="#") Commercial Design
            a.footer__content-link.main-link--big(href="#") Interior Design
            a.footer__content-link.main-link--big(href="#") Exterior Design
            a.footer__content-link.main-link--big(href="#") Landscape Design
            a.footer__content-link.main-link--big(href="#") Bathroom Design
        .footer__bottom
            span.copy.footer__copy © 2020 Binside. All rights reserved.
            span.designed-by Design by Timur Islakaev